
body{
  background: #f6f9fd;
}
.btn {
  background-color: yellow;
  color: black;
  text-align: center;
  font-size: 13px;
}

h1 {
  position: absolute;
  color: #346eda;
  left: 620px;
  top: 90px;
}
h3 {
  position: absolute;
  color: #346eda;
  left: 760px;
  top: 130px;
}
h4 {
  position: absolute;
  color: rgba(34, 87, 185, 0.3);
  left: 730px;
  top: 150px;
}
.flashCardButtons{
  display: flex;
  flex-wrap:  wrap-reverse;
  width: 300px;
  height: 40px;
  bottom: 300px;
  right: 850px;
  position: absolute;
  margin: auto;
}
.flashCardButtons button{
  flex-grow: 1;

}
.flashCardButtons button + button{
  margin-left: 2px;
}

.cardHolder{
  position: fixed;
  transform: translate(-15%, 0%);
  height: 350px;
  bottom: 350px;
  right: 1000px;
  width: 300px;
  margin: auto;
}
.card{
  position: absolute;
  max-width: 100%;
}
.card div{
  width: 576px;
  height: 200px;
  padding: 70px;
  text-align: center;
  cursor: pointer;
  overflow-wrap: break-word;
}
.card div.front{
  background: #5f8de2;
  background: linear-gradient(5deg, #3fb3e9, #5f8de2);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  line-height: 15px;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
  word-wrap: break-word;
}
.card div.back{
  background: #f38961;
  background: linear-gradient(5deg, #fb404b, #f38961);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  line-height: 180px;
  
}
.card div.front.switched{
  background: white;
  color: purple;
  border: 2px solid purple;
  border-radius: 5px;
  line-height: 180px;
}
.card div.back.switched{
  background: purple;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  line-height: 180px;
}



/* ANIMATION STYLES */
.card div.back{
  transform: rotateY(90deg);
      position: absolute;
}

.card div.front{
  position: absolute;
}


.card div.front.animate{
  animation: twirl 0.2s ease-in forwards;
}

.card div.back.animate{
  animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

.card div.back.animateReverse{
  animation: twirlReverse 0.2s ease-in forwards ;
}
.card div.front.animateReverse{
  transform: rotateY(90deg);
  animation: twirlReverse 0.2s 0.2s  ease-out forwards reverse;
}

/* Animation styles = switched */
.card div.back.switched{
  transform: rotateY(90deg);
}

.card div.front.switched{
  position: absolute;
}

.card div.front.animate.switched{
  animation: twirl 0.2s ease-in forwards;
}

.card div.back.animate.switched{
  animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

.card div.back.animateReverse.switched{
  animation: twirlReverse 0.2s ease-in forwards ;
}
.card div.front.animateReverse.switched{
  transform: rotateY(90deg);
  animation: twirlReverse 0.2s 0.2s  ease-out forwards reverse;
}

/* Show / Hide Card styles */
.hidden{
  display: none;
}



@keyframes twirl{
  0%{ transform: rotateY(0deg) }
  100%{ transform: rotateY(90deg) }
}

@keyframes twirlReverse{
  0%{ 
    transform: rotateY(0deg) 
    }
  100%{ 
    transform: rotateY(90deg) 
    }
}






#JustHereToAddSpace{
  
}